<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Curso</title>
    <link rel="stylesheet" href="/css/criarCurso.css">
</head>

<body>
    <%- include('../partials/navbarMeuAprendizado.ejs'); %>

    <div class="container">
        <div class="card"> 


                <div class="row">
                <div class="col-12 col-lg-6">
                    <h2>Cadastrar Curso</h2>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="tituloCurso">Título:</label>
                            <input type="text" class="form-control" id="tituloCurso" name="tituloCurso">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="categoria">Categoria:</label>
                            <select name="categoria" id="categoriaCurso" class="form-control">
                                <% categorias.forEach((categoria) => { %>
                                    <option value="<%= categoria.id %>"><%= categoria.title %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="instrutor">Instrutor:</label>
                            <input type="text" class="form-control" placeholder="<%= instrutor.nomeUsuario %>" disabled>
                            <input type="hidden" id="instrutorCurso" value="<%= instrutor.idInstrutor %>" name="instrutorCurso">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="imagemCurso">Imagem:</label>
                            <input type="text" class="form-control" id="imagemCurso" name="imagemCurso" placeholder="Link da imagem do curso">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="descricaoCurso">Descrição:</label>
                            <textarea  class="form-control" id="descricaoCurso" name="descricaoCurso"> </textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="requisitosCurso">Requisitos:</label>
                            <textarea class="form-control" id="requisitosCurso" name="requisitosCurso"></textarea>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="conteudoCurso">Conteúdo:</label>
                            <input type="text" class="form-control" id="conteudoCurso" name="conteudoCurso">
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <h2>Cadastre seu vídeo de apresentação</h2>
                
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="descricaoAulaCurso">Mini descrição do curso:</label>
                        <textarea type="text" class="form-control" id="miniDescricaoCurso" name="descricaoAulaCurso"> </textarea>  
                    </div>
                </div>
                <div class="row">
                    
                    <div class="form-group col-md-8">
                        <label for="linkCurso">Link do Vídeo:</label>
                        <input type="text" class="form-control" id="linkCurso" name="linkCurso" placeholder="Cole aqui o link do vídeo">
                    </div>

                    <div class="form-group col-md-4">
                        <label for="dataCriacaoCurso">Data de Criação:</label>
                        <input type="text" class="form-control" id="dataCriacaoCurso" name="dataCriacao" disabled>
                    </div>
                </div>
                
                
               
            </div>
            </div>

            <div class="row">
                <div class="form-group col">
                    <button id="cadastrarCurso" class="btn btn-success">Cadastrar</button>
                    <button id="atualizarCurso" style="display: none;" class="btn btn-success">Atualizar</button>

                </div>
                <div class="form-group col">
                    <a class="btn btn-danger" href="/">Retornar a Home</a>
                </div>
            </div>
                    
        </div>
    </div>


    <%- include('../partials/footer.ejs'); %>

</body>
<script src="/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="/scripts/criarCurso.js"></script>


</html>